
.browsehappy123 {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import 'status/sass/status.scss';
@import 'status/sass/fonts';
@import 'status/sass/table-section';
@import 'status/sass/icomoon';






