.browsehappy123 {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html, body {
  margin: 0em;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

p, h1, h2, h3 {
  margin: 0px; }

ul {
  list-style: none; }

a:hover, a:focus {
  outline: 0; }

/*.thing-form123 {
  margin: 20px 0;
}

#banner123 {
  border-bottom: none;
  margin-top: -20px;
}

#banner123 h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
} */
/* Custom Fonts */
@font-face {
  font-family: 'vzFont';
  src: url("font/VerizonApex-Medium.otf");
  src: local("VerizonApex-Medium"), url("font/VerizonApex-Medium.otf"); }
@font-face {
  font-family: 'vzFontLight';
  src: url("font/VerizonApex-Light.otf");
  src: local("VerizonApex-Light"), url("font/VerizonApex-Light.otf"); }
@font-face {
  font-family: 'vzFontBook';
  src: url("font/VerizonApex-Book.otf");
  src: local("VerizonApex-Book"), url("font/VerizonApex-Book.otf"); }
@font-face {
  font-family: Apex;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/apex-book-webfont.eot);
  src: url(../assets/fonts/apex-book-webfont.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/apex-book-webfont.woff) format("woff"), url(../assets/fonts/apex-book-webfont.ttf) format("truetype"), url(../assets/fonts/apex-book-webfont.svg#Apex-Book) format("svg"); }
/*variables */
.icon-close-circle, .icon-alert {
  color: #ed1d24; }

.icon-warning {
  color: #ef7d00; }

.icon-clock {
  color: #2e68b1; }

.icon-check-circle-open {
  color: #0ABF30; }

.icon-envelope {
  color: #ed1d24; }

.icon-disable {
  color: #cccccc; }

.icon-check-circle:hover {
  cursor: default; }

.vertical-align {
  display: flex;
  flex-direction: row; }

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center; }

.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  flex-grow: 1; }

.outer-wrap {
  min-width: 1200px;
  overflow-x: hidden;
  height: 100%; }

.content-wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -135px; }

.push {
  height: 135px; }

/*
.jumbotron h1,
.jumbotron .h1 {
  //color: inherit;
}
.jumbotron p {
  //margin-bottom: 15px;
  //font-size: 21px;
  //font-weight: 200;
}
.jumbotron > hr {
 // border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  //border-radius: 6px;
}
.jumbotron .container {
  //max-width: 100%;
}
*/
/* top header */
.top-header {
  height: 60px;
  padding-top: 0 10px;
  font-family: "Apex", Arial, sans-serif; }
  .top-header .wrapper {
    margin: 0 auto;
    padding: 10px 15px 10px 10px;
    width: 1200px; }
  .top-header .panel {
    border-radius: 0px;
    border: none;
    box-shadow: none; }
    .top-header .panel .vz-logo {
      width: 174px;
      height: 38px;
      margin-right: 20px;
      vertical-align: bottom;
      display: inline-block;
      background: url("../assets/Images/logo-vdms.png") no-repeat; }
    .top-header .panel h2 {
      margin: 0px;
      color: #666666;
      display: inline-block; }
    .top-header .panel ul {
      margin-top: 10px; }
      .top-header .panel ul li {
        display: inline-block; }
        .top-header .panel ul li .icon-envelope {
          margin-right: 10px;
          font-size: 19px;
          color: red;
          vertical-align: top;
          margin-top: 2px;
          display: inline-block; }
        .top-header .panel ul li .badge {
          margin-right: 7px;
          margin-top: -5px;
          vertical-align: middle;
          padding: 6px 8px;
          background: #ed1d24;
          border-radius: 100%; }
        .top-header .panel ul li a {
          margin-left: 50px;
          font-size: 16px;
          color: #999999; }

/* image header */
.image-header .jumbotron {
  margin-bottom: 20px;
  padding: 30px 15px;
  background-color: transparent; }
  .image-header .jumbotron.image-bkgrnd {
    width: 100%;
    height: 230px;
    display: block;
    background: url("../assets/Images/image-header-bkgrnd.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .image-header .jumbotron span {
    margin-top: 55px;
    padding: 15px 20px;
    width: 260px;
    height: 100px;
    display: inline-block;
    border-radius: 0px;
    background-color: #dd3333;
    font-family: "Apex", Arial, sans-serif; }
    .image-header .jumbotron span h5 {
      margin-bottom: 5px;
      text-transform: uppercase; }
    .image-header .jumbotron span h2 {
      text-transform: capitalize; }

/* legend section */
.legend-header .container {
  width: 1200px;
  padding: 0 10px;
  font-family: "Apex", Arial, sans-serif; }
.legend-header .table-legend {
  margin-top: 3px;
  margin-right: -10px; }
.legend-header h2 {
  margin-bottom: 10px;
  font-weight: 600; }
.legend-header .btn-group a {
  padding: 6px 8px;
  color: #999999;
  font-size: 11px; }
  .legend-header .btn-group a i {
    margin-right: 3px;
    font-size: 17px;
    vertical-align: text-top;
    margin-top: -1px;
    display: inline-block; }
  .legend-header .btn-group a:hover {
    text-decoration: none;
    cursor: auto; }

/* status menu section */
.status-menu .wrapper {
  margin: 0 auto;
  width: 1200px; }
.status-menu.well {
  padding: 0 10px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.status-menu .row.well {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 19px 0px 11px;
  min-height: 73px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  border-top: 0px none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .status-menu .row.well:first-child {
    border-top: 0px; }
  .status-menu .row.well:last-child {
    border-bottom: 0px; }
.status-menu .row.network-update {
  min-height: 100px; }
  .status-menu .row.network-update .network-update-contents {
    padding-left: 20px;
    width: 525px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #CCC;
    padding-right: 20px;
    display: inline-block; }
  .status-menu .row.network-update .status-label {
    width: 220px;
    display: inline-block;
    vertical-align: top;
    margin-top: 17px; }
    .status-menu .row.network-update .status-label h3 {
      text-transform: uppercase; }
    .status-menu .row.network-update .status-label i {
      font-size: 30px;
      margin-top: -2px; }
  .status-menu .row.network-update .pin-contents {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px; }
  .status-menu .row.network-update .rss {
    vertical-align: top;
    margin-top: 20px;
    padding-left: 10px;
    display: inline-block; }
    .status-menu .row.network-update .rss p {
      color: #999999;
      font-family: "Apex", Arial, sans-serif;
      font-size: 14px; }
  .status-menu .row.network-update p {
    color: #666666;
    font-size: 13px; }
    .status-menu .row.network-update p span {
      margin-left: 20px;
      padding-right: 10px;
      color: #999999;
      border-right: 1px solid #999999; }
      .status-menu .row.network-update p span:last-child {
        margin-left: 10px;
        border-right: 0px; }
  .status-menu .row.network-update h3 {
    text-transform: capitalize; }
.status-menu .status-label {
  margin-top: 5px; }
  .status-menu .status-label a {
    color: inherit; }
    .status-menu .status-label a:hover {
      text-decoration: none; }
  .status-menu .status-label h3 {
    margin: 0px;
    font-size: 22px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Apex", Arial, sans-serif; }
  .status-menu .status-label i {
    margin-right: 10px;
    margin-top: -9px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    font-size: 38px;
    color: #ed1d24; }
    .status-menu .status-label i.icon-transact {
      font-size: 35px;
      margin-top: -7px; }
    .status-menu .status-label i.icon-store {
      font-size: 43px; }
    .status-menu .status-label i.icon-uplynk {
      font-size: 46px; }
.status-menu .pin-wrapper {
  margin-left: 10px;
  margin-bottom: 10px;
  float: right; }
  .status-menu .pin-wrapper:last-child {
    margin-bottom: 0px; }
  .status-menu .pin-wrapper .pin {
    background: #fff;
    border-radius: 30px;
    border: 1px solid #cccccc;
    text-transform: capitalize; }
    .status-menu .pin-wrapper .pin.no-header ul {
      padding-left: 5px; }
      .status-menu .pin-wrapper .pin.no-header ul span {
        display: none; }
      .status-menu .pin-wrapper .pin.no-header ul li {
        border-left: 0px; }
    .status-menu .pin-wrapper .pin ul {
      padding: 0px 4px 0 5px;
      margin-bottom: 0px;
      height: 30px; }
      .status-menu .pin-wrapper .pin ul span {
        margin-right: 10px;
        font-size: 16px;
        color: #999999; }
      .status-menu .pin-wrapper .pin ul li {
        display: inline-block;
        border-left: 1px solid #cccccc;
        padding: 2px 10px 3px;
        font-size: 17px;
        height: inherit;
        color: #999999; }
        .status-menu .pin-wrapper .pin ul li:first-child {
          border-left: 0px; }
        .status-menu .pin-wrapper .pin ul li a {
          color: #666666; }
          .status-menu .pin-wrapper .pin ul li a:hover {
            text-decoration: none;
            color: #cccccc; }
          .status-menu .pin-wrapper .pin ul li a i {
            vertical-align: text-top;
            display: inline-block;
            margin-top: 3px; }

/* tabs section */
.tabs-wrapper {
  margin-bottom: -30px;
  background: #333333; }
  .tabs-wrapper ul.nav-tabs {
    width: 1200px;
    margin: 0px auto;
    border: medium none; }
    .tabs-wrapper ul.nav-tabs li {
      margin-bottom: 0px;
      border-right: 1px solid rgba(255, 255, 255, 0.25); }
      .tabs-wrapper ul.nav-tabs li:first-child {
        margin-left: -1px;
        border-left: 1px solid rgba(255, 255, 255, 0.25); }
      .tabs-wrapper ul.nav-tabs li.active > a, .tabs-wrapper ul.nav-tabs li.active > a:hover, .tabs-wrapper ul.nav-tabs li.active > a:focus {
        background: none repeat scroll 0% 0% transparent;
        border: medium none;
        color: #ffffff;
        outline: 0; }
      .tabs-wrapper ul.nav-tabs li.active {
        margin-left: -1px;
        margin-bottom: -7px;
        height: 100px;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        background: #ed1d24; }
        .tabs-wrapper ul.nav-tabs li.active span.tab-header, .tabs-wrapper ul.nav-tabs li.active .icons-info > span {
          opacity: 1 !important; }
        .tabs-wrapper ul.nav-tabs li.active .table-header-title {
          opacity: 1; }
        .tabs-wrapper ul.nav-tabs li.active .table-header-list {
          opacity: 0; }
        .tabs-wrapper ul.nav-tabs li.active a:hover {
          background: none;
          outline: none;
          overflow: hidden; }
          .tabs-wrapper ul.nav-tabs li.active a:hover .table-header-list {
            opacity: 0; }
      .tabs-wrapper ul.nav-tabs li a {
        margin-right: 0px;
        padding: 10px 5px;
        min-width: 86px;
        height: 63px;
        color: #ffffff;
        border-radius: 0px;
        background: transparent;
        border: none;
        font-family: "Apex", Arial, sans-serif; }
        .tabs-wrapper ul.nav-tabs li a:hover {
          height: 95px;
          background: #333333;
          margin-bottom: -7px;
          outline: 2px solid #ed1d24;
          overflow: hidden;
          margin-top: 2px;
          padding-top: 8px; }
          .tabs-wrapper ul.nav-tabs li a:hover .table-header-title, .tabs-wrapper ul.nav-tabs li a:hover .table-header-list {
            opacity: 1; }
        .tabs-wrapper ul.nav-tabs li a:focus {
          outline-offset: 0px; }
      .tabs-wrapper ul.nav-tabs li .table-header-logo {
        text-align: center;
        width: 100%; }
        .tabs-wrapper ul.nav-tabs li .table-header-logo > span {
          margin-top: 3px;
          margin-right: -2px;
          font-size: 30px;
          display: block;
          text-align: center; }
        .tabs-wrapper ul.nav-tabs li .table-header-logo span.tab-header {
          font-size: 30px;
          text-transform: uppercase;
          font-family: "Apex", Arial, sans-serif;
          opacity: 0.7; }
        .tabs-wrapper ul.nav-tabs li .table-header-logo .badge {
          padding: 4px 4px 5px 4px;
          border-radius: 100%;
          font-size: 14px;
          vertical-align: top;
          margin-top: 8px;
          margin-left: 10px;
          background: #0ABF30;
          font-weight: normal; }
        .tabs-wrapper ul.nav-tabs li .table-header-logo .icons-info span {
          margin-right: 0px;
          font-size: 18px;
          width: auto;
          height: auto;
          border-right: 1px solid rgba(255, 255, 255, 0.24);
          padding-right: 7px;
          padding-left: 7px; }
          .tabs-wrapper ul.nav-tabs li .table-header-logo .icons-info span:first-child {
            padding-left: 0px; }
          .tabs-wrapper ul.nav-tabs li .table-header-logo .icons-info span:last-child {
            border-right: none; }
      .tabs-wrapper ul.nav-tabs li .table-header-title {
        text-align: center;
        margin-top: 3px;
        opacity: 0; }
        .tabs-wrapper ul.nav-tabs li .table-header-title span {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px; }
      .tabs-wrapper ul.nav-tabs li .table-header-list {
        height: 20px;
        opacity: 0; }
        .tabs-wrapper ul.nav-tabs li .table-header-list > ul {
          margin-top: 5px;
          margin-left: 0px;
          text-align: center; }
          .tabs-wrapper ul.nav-tabs li .table-header-list > ul > li {
            margin-right: 2px;
            padding: 0px;
            border: none; }
            .tabs-wrapper ul.nav-tabs li .table-header-list > ul > li span {
              font-size: 16px; }
            .tabs-wrapper ul.nav-tabs li .table-header-list > ul > li:first-child {
              margin-left: 1px; }
            .tabs-wrapper ul.nav-tabs li .table-header-list > ul > li:last-child {
              margin-right: 0px; }
      .tabs-wrapper ul.nav-tabs li.transact > .table-header-logo span {
        font-size: 35px;
        margin-top: 13px; }

/*
.tab-button {
	min-width: 1200px;
	height: 80px;
	margin-top: -50px;
	a {
		width: 60px;
		height: 60px;
		margin: 0px auto;
		display: block;
		border-radius: 100%;
		background: $black;
		opacity: 0.1;
		text-align: center;
		position: relative;
		z-index: 1;
		i {
			padding-top: 5px;
			color: $white;
			font-size: 21px;
			display: block;
		}
		@media screen and (-webkit-min-device-pixel-ratio:0) {
		 i { margin: 12px auto; }
		}
	}
	&.reverse {
			z-index: 1;
			position: relative;
			margin-top: 30px;
			margin-bottom: -50px;
			a {
				margin: -10px auto;
				i {
			    margin: -10px auto;
			    font-size: 21px;
			    color: $white;
				}
			}
	}
}
*/
/*table header section 
.table-section {
	font-family: $font-family-base;
		
		.table-header {
			margin: 0 auto;
			min-width: 1200px;
			background: $table-header-background;
			font-family: $font-family-vz;
			.table-header-inner {
				width: 1200px;
				margin: 0px auto;
				padding: 6px 0px 6px;
				color: $white;
			}
			.table-header-info {
				margin-top: -1px;
				span {
					margin-top: 0px;
					color: $white;
					font-size: 17px;
					text-transform: capitalize;
				}
				.status-box {
					margin-top: 8px;
					a {
						margin-top: -10px;
						padding: 10px 0px 10px 15px;
						color: $white;
						background: $grey-c;
						font-size: 21px;
						display: inherit;
						span { 
							font-size: 24px;
							margin-top: 1px;
							vertical-align: top;
							display: inline-block; 
						}
					}
					&.checks {
					>	a {
							padding: 0px 10px 0px 15px;
							background: none;
							color: $green;
							text-decoration: none;
							&:hover { text-decoration: none; }
						}
					}
				}
			}
		}
	.panel {
		border: none;
		position: relative;
	}
}*/
/*header status menu */
.network-news {
  min-width: 1200px;
  min-height: 40px;
  z-index: 2;
  position: relative;
  overflow: hidden;
  font-family: "Apex", Arial, sans-serif; }
  .network-news.well {
    margin-bottom: 0px;
    padding: 20px 0 20px;
    background: #3d4045;
    border-radius: 0px;
    border: 1px solid #3d4045; }
  .network-news .wrapper {
    width: 1200px;
    margin: 0px auto; }
    .network-news .wrapper .row {
      min-height: 82px;
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      .network-news .wrapper .row:last-child {
        border: none; }
  .network-news .status-label-toggle {
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
    text-decoration: none; }
    .network-news .status-label-toggle:hover {
      cursor: pointer;
      color: #ffffff;
      text-decoration: none; }
  .network-news span, .network-news p {
    color: #ffffff; }
  .network-news span {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold; }
  .network-news .network-news-info {
    margin-top: 0px;
    padding: 10px 0 0;
    height: 141px; }
    .network-news .network-news-info hr {
      opacity: .2;
      margin-top: 0px;
      margin-bottom: 10px; }
      .network-news .network-news-info hr.dashed {
        opacity: .2;
        margin-top: 0px;
        margin-bottom: 10px;
        border-style: dashed none none; }
  .network-news p {
    margin-bottom: 5px;
    padding-right: 160px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff; }
    .network-news p.time-notice {
      color: #cccccc; }
    .network-news p strong {
      font-size: 18px; }
  .network-news i {
    font-size: 45px;
    font-size: 45px;
    vertical-align: bottom;
    margin-right: 8px; }

/* table */
.table-wrapper table.mytable {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed; }
  .table-wrapper table.mytable thead tr {
    background: #5a5b5d;
    border-bottom: 1px solid #5a5b5d; }
  .table-wrapper table.mytable thead th {
    height: 45px;
    padding: 5px 22px;
    word-wrap: break-word;
    font-size: 14px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    border-right: 1px solid rgba(225, 225, 225, 0.2);
    text-align: center;
    line-height: 1.2;
    /* saf3+  */ }
    .table-wrapper table.mytable thead th:first-child, .table-wrapper table.mytable thead th:last-child {
      position: relative; }
    .table-wrapper table.mytable thead th:first-child:before {
      right: 100%;
      border-right: 1px solid rgba(225, 225, 225, 0.2); }
    .table-wrapper table.mytable thead th:last-child:after {
      left: 100%;
      border-left: 1px solid rgba(225, 225, 225, 0.2); }
    .table-wrapper table.mytable thead th:first-child:before, .table-wrapper table.mytable thead th:last-child:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 2000px;
      display: block;
      background: #5a5b5d; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .table-wrapper table.mytable thead th:first-child:before, .table-wrapper table.mytable thead th:last-child:after {
        bottom: -1px; } }
    .table-wrapper table.mytable thead th:first-child {
      padding: 5px 10px;
      width: 25%;
      max-width: 315px;
      margin-right: 1px;
      text-align: left;
      text-transform: inherit; }
      .table-wrapper table.mytable thead th:first-child .popover {
        margin-top: 0px;
        width: 243px;
        max-width: 245px;
        top: 20px !important;
        background: #cccccc;
        border-color: #cccccc;
        text-transform: capitalize; }
        .table-wrapper table.mytable thead th:first-child .popover > .arrow {
          margin-top: -11px;
          border-top-width: 0px;
          top: 10px !important;
          border-right-color: #cccccc; }
        .table-wrapper table.mytable thead th:first-child .popover .popover-content {
          color: #333333;
          display: block; }
    .table-wrapper table.mytable thead th > a.info-POP {
      margin-left: 5px;
      margin-right: 5px;
      padding: 1px 4px 0px;
      color: #cccccc;
      float: right;
      display: inline-block; }
      .table-wrapper table.mytable thead th > a.info-POP span {
        margin-top: 0px;
        font-size: 17px;
        vertical-align: middle;
        display: inline-block; }
.table-wrapper tbody tr:nth-child(odd) > td:first-child .tooltip-arrow {
  margin-top: -18px; }
.table-wrapper tbody tr:nth-child(even) > td:first-child .tooltip-arrow {
  margin-top: -18px; }
.table-wrapper tbody tr {
  background: #F5F5F6;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  /* saf3+  */ }
  .table-wrapper tbody tr:nth-child(even) {
    background-color: #ececed;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
  .table-wrapper tbody tr:nth-child(even) > td:first-child:before, .table-wrapper tbody tr:nth-child(even) > td:last-child:after {
    background-color: #ececed;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: -1px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .table-wrapper tbody tr:nth-child(even) > td:first-child:before, .table-wrapper tbody tr:nth-child(even) > td:last-child:after {
      bottom: -1px; } }
  .table-wrapper tbody tr button {
    border: 0px;
    background: transparent; }
  .table-wrapper tbody tr td {
    padding: 7px 10px 5px;
    border-right: 1px solid #e1e1e1;
    text-align: center;
    position: relative; }
    .table-wrapper tbody tr td:first-child, .table-wrapper tbody tr td:last-child {
      position: relative; }
    .table-wrapper tbody tr td:first-child:before, .table-wrapper tbody tr td:last-child:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 2000px;
      display: block;
      border-right: 1px solid #e1e1e1;
      background: #F5F5F6;
      margin-left: 1px; }
    .table-wrapper tbody tr td:first-child:before {
      right: 100%; }
    .table-wrapper tbody tr td:last-child:after {
      left: 100%; }
    .table-wrapper tbody tr td:first-child {
      max-width: 315px;
      text-align: left; }
      .table-wrapper tbody tr td:first-child a {
        color: #333333;
        cursor: pointer;
        text-transform: capitalize;
        font-size: 14px; }
        .table-wrapper tbody tr td:first-child a:hover {
          text-decoration: none; }
        .table-wrapper tbody tr td:first-child a label {
          font-weight: 500;
          cursor: pointer;
          text-transform: uppercase; }
      .table-wrapper tbody tr td:first-child span {
        color: #999999;
        font-size: 14px;
        float: right;
        text-transform: capitalize;
        font-style: italic; }
    .table-wrapper tbody tr td a {
      font-size: 22px;
      cursor: pointer; }
      .table-wrapper tbody tr td a:hover {
        text-decoration: none; }
        .table-wrapper tbody tr td a:hover.icon-close-circle {
          color: #ed1d24; }
        .table-wrapper tbody tr td a:hover.icon-check-circle {
          color: #cccccc; }
        .table-wrapper tbody tr td a:hover.icon-warning {
          color: #ef7d00; }
        .table-wrapper tbody tr td a:hover.icon-clock {
          color: #2e68b1; }
        .table-wrapper tbody tr td a:hover.icon-disable {
          color: #cccccc; }
  .table-wrapper tbody tr:last-child {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
    .table-wrapper tbody tr:last-child td:first-child::before, .table-wrapper tbody tr:last-child td:last-child::after {
      border-bottom: 1px solid #e1e1e1; }

.store .table-wrapper table thead tr,
.accelerate .table-wrapper table thead tr,
.defend .table-wrapper table thead tr,
.transact .table-wrapper table thead tr,
.route .table-wrapper table thead tr {
  /* saf3+  */ }
  .store .table-wrapper table thead tr th,
  .accelerate .table-wrapper table thead tr th,
  .defend .table-wrapper table thead tr th,
  .transact .table-wrapper table thead tr th,
  .route .table-wrapper table thead tr th {
    width: 180px;
    max-width: 180px; }
    .store .table-wrapper table thead tr th:first-child,
    .accelerate .table-wrapper table thead tr th:first-child,
    .defend .table-wrapper table thead tr th:first-child,
    .transact .table-wrapper table thead tr th:first-child,
    .route .table-wrapper table thead tr th:first-child {
      min-width: 300px;
      width: 300px;
      max-width: 300px; }
    .store .table-wrapper table thead tr th:last-child,
    .accelerate .table-wrapper table thead tr th:last-child,
    .defend .table-wrapper table thead tr th:last-child,
    .transact .table-wrapper table thead tr th:last-child,
    .route .table-wrapper table thead tr th:last-child {
      min-width: 100%;
      width: 100%;
      max-width: 100%; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .store .table-wrapper table thead tr th:first-child,
    .accelerate .table-wrapper table thead tr th:first-child,
    .defend .table-wrapper table thead tr th:first-child,
    .transact .table-wrapper table thead tr th:first-child,
    .route .table-wrapper table thead tr th:first-child {
      min-width: 299px;
      width: 299px;
      max-width: 299px; } }

/* tooltip css */
.tooltip.right {
  margin-top: 10px;
  margin-left: 0px; }
  .tooltip.right > .tooltip-inner {
    padding: 10px 8px;
    background: #333333;
    border-radius: 0px;
    box-shadow: 1px 1px 5px rgba(2, 1, 1, 0.52); }
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: -5px;
    margin-top: -18px;
    border-right: 15px solid #333333;
    border-width: 0px 15px 15px 0px; }

/* popover css */
.popover {
  min-width: 145px;
  max-width: 205px;
  background: #ef7d00;
  border-radius: 0px;
  border: 1px solid #ef7d00;
  top: 10px !important;
  box-shadow: none; }
  .popover .popover-title {
    padding: 11px 14px 4px;
    color: #ffffff;
    background: none;
    border: none;
    text-align: center; }
    .popover .popover-title > div > div {
      margin: 0 0 10px 0;
      line-height: 1.3;
      font-weight: bold; }
  .popover .popover-content {
    color: #ffffff;
    display: none; }
  .popover.right {
    margin-top: 7%; }
    .popover.right > .arrow {
      border-right-color: #ef7d00;
      margin-top: 0px;
      top: -1px !important;
      border-top-width: 0px; }
      .popover.right > .arrow:after {
        border-right-color: transparent; }
  .popover.left {
    margin-top: 0%; }
    .popover.left > .arrow {
      border-left-color: #ef7d00;
      margin-top: 0px;
      top: -1px !important;
      border-top-width: 0px; }
      .popover.left > .arrow:after {
        border-left-color: transparent; }

.icon-close-circle ~ .popover {
  background: #ed1d24;
  border: 1px solid #ed1d24; }
  .icon-close-circle ~ .popover.right > .arrow {
    border-right-color: #ed1d24; }
  .icon-close-circle ~ .popover.left > .arrow {
    border-left-color: #ed1d24; }

.icon-check-circle ~ .popover {
  background: #0ABF30;
  border: 1px solid #0ABF30; }
  .icon-check-circle ~ .popover.right > .arrow {
    border-right-color: #0ABF30; }
  .icon-check-circle ~ .popover.left > .arrow {
    border-left-color: #0ABF30; }

.icon-warning ~ .popover {
  background: #ef7d00;
  border: 1px solid #ef7d00; }
  .icon-warning ~ .popover.right > .arrow {
    border-right-color: #ef7d00; }
  .icon-warning ~ .popover.left {
    margin-left: -15px; }
    .icon-warning ~ .popover.left > .arrow {
      border-left-color: #ef7d00; }

.icon-clock ~ .popover {
  background: #2e68b1;
  border: 1px solid #2e68b1; }
  .icon-clock ~ .popover.right > .arrow {
    border-right-color: #2e68b1; }
  .icon-clock ~ .popover.left {
    margin-left: -12px; }
    .icon-clock ~ .popover.left > .arrow {
      border-left-color: #2e68b1; }

.icon-disable ~ .popover {
  background: #cccccc;
  border: 1px solid #cccccc; }
  .icon-disable ~ .popover.right > .arrow {
    border-right-color: #cccccc; }
  .icon-disable ~ .popover.left > .arrow {
    border-left-color: #cccccc; }

footer {
  background: #43474d; }
  footer .well {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    background: transparent;
    height: 135px;
    margin: 0 auto;
    width: 1200px; }
  footer .footer-logo {
    margin-top: 10px; }
    footer .footer-logo .vz-logo-wh {
      width: 174px;
      height: 38px;
      display: inline-block;
      background: url("../assets/Images/logo-vdms-wh.png") no-repeat scroll 0% 0% transparent; }
    footer .footer-logo .copy-right {
      margin-top: -8px;
      color: #cccccc;
      font-size: 11px;
      font-family: "Apex", Arial, sans-serif;
      vertical-align: middle;
      display: inline-block; }
      footer .footer-logo .copy-right span {
        margin-left: 20px;
        font-size: 12px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?-4mwg1v");
  src: url("../assets/fonts/icomoon.eot?#iefix-4mwg1v") format("embedded-opentype"), url("../assets/fonts/icomoon.woff?-4mwg1v") format("woff"), url("../assets/fonts/icomoon.ttf?-4mwg1v") format("truetype"), url("../assets/fonts/icomoon.svg?-4mwg1v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-check-circle-open:before {
  content: "\e612"; }

.icon-alert:before {
  content: "\e611"; }

.icon-gauge:before {
  content: "\e60d"; }

.icon-info-circle:before {
  content: "\e60e"; }

.icon-shield:before {
  content: "\e60f"; }

.icon-store:before {
  content: "\e610"; }

.icon-angle-down:before {
  content: "\e60c"; }

.icon-angle-up:before {
  content: "\e60b"; }

.icon-check-circle:before {
  content: "\e607"; }

.icon-disable:before {
  content: "\e608"; }

.icon-envelope:before {
  content: "\e609"; }

.icon-info:before {
  content: "\e60a"; }

.icon-close-circle:before {
  content: "\e605"; }

.icon-clock:before {
  content: "\e604"; }

.icon-warning:before {
  content: "\e606"; }

.icon-cdn:before {
  content: "\e600"; }

.icon-route:before {
  content: "\e601"; }

.icon-transact:before {
  content: "\e602"; }

.icon-uplynk:before {
  content: "\e603"; }
