<div class="top-header">
  <div class="panel clearfix">
    <div class="pull-left">
      <div class="top-header-name">
        <span class="vz-logo"></span>
        <h2>Network Status</h2>
      </div>
    </div>
    <div class="pull-right">
      <ul>
        <li><a href="#"><span class="badge">2</span>Network Status Updates</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i>VDMS Support</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-panel" role="tabpanel" data-example-id="togglable-tabs">
  <div class="tabs-wrapper">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-repeat="status in vm.network"
          ng-class="{'active cdn': status.name == 'CDN' && vm.selectedNetwork.name == 'CDN'  , 'active transact': status.name == 'TRANSACT' && vm.selectedNetwork.name == 'TRANSACT'  ,
          'active route': status.name == 'ROUTE' && vm.selectedNetwork.name == 'ROUTE'  ,'active uplynk': status.name == 'UPLYNK' && vm.selectedNetwork.name == 'UPLYNK' } ">
        <a href="#cdn" role="tab" id="cdn-tab" data-toggle="tab" aria-controls="cdn" aria-expanded="true" ng-click="vm.selectNetwork(status)">
          <div class="table-header-logo clearfix">
            <div class="pull-left">
              <i class="fa fa-eject"></i>
            </div>
            <div class="pull-left">
              <div class="">
                <span class="tab-header">{{status.name}}</span>
                <span class="badge">{{status.status.count}}</span>
              </div>
            </div>
            <div class="icons-info">
              <i ng-if="status.status.error" class="fa fa-times-circle"></i>
              <i ng-if="status.status.maintance"class="fa fa-clock-o"></i>
              <i ng-if="status.status.warning" class="fa fa-warning"></i>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="myTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active">
    <div class="table-section" ng-class="{'cdn': vm.selectedNetwork.name == 'CDN'  , 'transact': vm.selectedNetwork.name == 'TRANSACT'  ,
          'route': vm.selectedNetwork.name == 'ROUTE'  ,'uplynk': vm.selectedNetwork.name == 'UPLYNK' } ">
      <div class="table-header clearfix">
        <div class="table-header-inner clearfix">
          <div class="pull-right" ng-repeat="system in vm.selectedNetwork.systems">
            <div class="table-header-info clearfix">
              <span class="pull-left">{{system.name}}</span>
              <div class="status-box checks pull-right">
                <a><i class="fa fa-check-circle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="panel panel-default">-->

<!--</div>-->

<div class="table-wrapper">
  <table class="mytable">
    <thead>
    <tr>
      <th>PoP Location
        <a class="info-POP" data-original-title="" href="#" data-toggle="popover" data-html="true" title="" data-placement="right" data-content="<div>Three-letter codes are for POP identification only and do not indicate the specific geographic location of the POP.</div>">
          <i class="fa fa-info"></i>
        </a>
      </th>
      <th ng-repeat="system in vm.selectedNetwork.services">{{system.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="location in vm.selectedNetwork.locations">
      <td>
        <a type="button" data-toggle="tooltip" data-placement="right">{{location.name}}
          <label>({{location.code}})</label>
        </a>
        <span>{{location.region}}</span>
      </td>
      <td ng-repeat="service in location.services">
      <span ng-if="service.enabled == true">
        <a ng-if="service.status == 'OK'" class="fa fa-check-circle" alt="" data-toggle="popover" data-html="true" data-placement="left">
        </a>
        <a ng-if="service.status == 'DGR'" class="fa fa-warning" alt="" data-toggle="popover" data-html="true" data-placement="left">
        </a>
        <a ng-if="service.status == 'MNT'" class="fa fa-clock-o" alt="" data-toggle="popover" data-html="true" data-placement="left">
        </a>
        <a ng-if="service.status == 'ERR'" class="fa fa-times-circle" alt="" data-toggle="popover" data-html="true" data-placement="left">
        </a>
      </span>
        <a ng-if="service.enabled == false" class="fa fa-circle-o" alt="" data-toggle="popover" data-html="true" data-placement="left">
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
