/*variables */
$red: 										#ed1d24; 
$red-light:								#dd3333;
$green: 									#68B168; //0ABF30
$orange-dark: 						#ef7d00;
$orange-light:						#ff9900;
$blue: 										#3399ff; //#2e68b1

$table-header-background:	$red;
$grey-footer:							#43474d;
$grey-network-news:				#3d4045;

$grey-9:									#999999;
$grey-6:									#666666;
$grey-3:									#333333;
$grey-c:									#cccccc;
$grey-d:									#dddddd;
$grey-md:									#5a5b5d;
$grey-lt:									#eeefef;

$black:										#000000;
$white:										#ffffff;

//$row-light:							#F5F5F6;
//$row-dark: 							#ececed;
$row-light:							  $white;
$row-dark: 							  #f9f9fa;
$row-border: 						  #e1e1e1;

$font-family-vz:          "Apex", Arial, sans-serif !default;
$font-family-base: 				"Helvetica Neue",Helvetica,Arial,sans-serif;

$wrapper-width:						1200px;

.icon-close-circle, .icon-alert { color: $red; }
.icon-warning { color: $orange-dark; }
.icon-clock { color: $blue; }
.icon-check-circle-open { color: $green; }
.icon-envelope { color: $red; }
.icon-disable { color: $grey-c; }
.icon-rss { color: $orange-light; }

a:hover {
	&.icon-close-circle { color: $red; }
	&.icon-check-circle-open { color: $green; }
	&.icon-warning { color: $orange-dark; }
	&.icon-clock { color: $blue; }
	&.icon-disable { color: $grey-c; }
}

.icon-check-circle {
	&:hover {
		cursor: default;
	}
}

// Vertical Alignment 
.vertical-align {
	display: flex;
	flex-direction: row;
}
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
	display: flex;
	align-items: center;
}
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
	flex-grow: 1;
}

.outer-wrap {
	min-width: $wrapper-width;
  overflow-x: hidden;
	height: 100%;
}
.content-wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0px auto -135px;
}
.push {
	height: 135px;
}

/*
.jumbotron h1,
.jumbotron .h1 {
  //color: inherit;
}
.jumbotron p {
  //margin-bottom: 15px;
  //font-size: 21px;
  //font-weight: 200;
}
.jumbotron > hr {
 // border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  //border-radius: 6px;
}
.jumbotron .container {
  //max-width: 100%;
}
*/

/* top header */
.top-header {
	height: 60px;
	padding-top: 0 10px;
	font-family: $font-family-vz;
	.wrapper {
		margin: 0 auto;
		padding: 10px 15px 10px 10px;
		width: $wrapper-width;
	}
	.panel {
		border-radius: 0px;
		border: none;
		box-shadow: none;
		.vz-logo {
			width: 174px;
			height: 38px;
			margin-right: 20px;
			vertical-align: bottom;
			display: inline-block;
			background: url('../assets/Images/logo-vdms.png') no-repeat;
		}
		h2 {
			margin: 0px;
			color: $grey-6;
			display: inline-block;
		}
		ul {
			margin-top: 10px;
			li {
				display: inline-block;
				.icon-envelope { 
					margin-right: 10px; 
					font-size: 19px; 
					color: red; 
					vertical-align: top;
					margin-top: 2px;
					display: inline-block;
				}
				.badge {
					margin-right: 7px;
					margin-top: -5px;
					vertical-align: middle;
					padding: 6px 8px;
					background: $red;
					border-radius: 100%;
				}
				a {
					margin-left: 50px;
					font-size: 16px;
					color: $grey-9;
				}
			}
		}
	}
}

/* image header */
.image-header {
	.jumbotron {
		margin-bottom: 20px;
		padding: 30px 15px;
		background-color: transparent;
		&.image-bkgrnd {
			width: 100%;
			height: 230px;
			display: block;
			background: url("../assets/Images/image-header-bkgrnd.jpg") no-repeat;
			-webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
		span {
			margin-top: 55px;
			padding: 15px 20px;
			width: 260px;
			height: 100px;
			display: inline-block;
			border-radius: 0px;
			background-color: $red-light;
			font-family: $font-family-vz;
			h5 { 
				margin-bottom: 5px;
				text-transform: uppercase;
			 }
			 h2 {
			 	text-transform: capitalize;
			 }
		}
	}
}

/* legend section */
.legend-header {
	.container {
		width: $wrapper-width;
		padding: 0 10px;
		font-family: $font-family-vz;
	}
	.table-legend {
		margin-top: 3px;
		margin-right: -10px;
	}
	h2 {
		margin-bottom: 10px;
		font-weight: 600;
	}
	.btn-group {
		a {
			padding: 6px 8px;
			color: $grey-9;
			font-size: 11px;
			i {
				margin-right: 3px;
				font-size: 17px;
				vertical-align: text-top;
				margin-top: -1px;
				display: inline-block;
			}
			&:hover {
				//color: $grey-c;
				text-decoration: none;
				cursor: auto;
			}
		}
	}
}

/* status menu section */
.status-menu {
	.wrapper {
		margin: 0 auto;
		width: $wrapper-width;
	}
	&.well {
		padding: 0 10px;
		border-color: $grey-c;
		border-left: 0px;
		border-right: 0px;
		border-radius: 0px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.row {
		&.well {
			margin: 0;
			padding: 19px 0px 11px;
			min-height: 73px;
			border-left: 0px;
			border-right: 0px;
			border-radius: 0px;
			border-top: 1px solid $white;
			border-bottom: 1px solid $grey-c;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			&:first-child {
				border-top: 0px;
			}
			&:last-child {
				border-bottom: 0px;
			}
		}
		&.network-update {
			min-height: 100px;
			.network-update-contents {
				padding-left: 20px;
				width: 525px;
				border-left: 1px solid $grey-c;
				border-right: 1px solid $grey-c;
				padding-right: 20px;
				display: inline-block;
			}
			.status-label {
				width: 220px;
				display: inline-block;
				vertical-align: top;
				margin-top: 17px;
				h3 { text-transform: uppercase; }
				i {
					font-size: 30px;
					margin-top: -2px;
				}
			}
			.pin-contents {
				display: inline-block;
				vertical-align: top;
				margin-top: 15px;
				
			}
			.rss {
				vertical-align: top;
				margin-top: 20px;
				padding-left: 10px;
				display: inline-block;
				a {
					color: $grey-9;
					font-family: $font-family-vz;
					font-size: 14px;
					&:hover {
						text-decoration: none;
						color: $grey-6;
					}
					i {
						margin-left: 3px;
					}
				}
			}
			p {
				color: $grey-6;
				font-size: 13px;
				span {
					margin-left: 20px;
					padding-right: 10px;
					color: $grey-9;
					border-right: 1px solid $grey-9;
					&:last-child {
						margin-left: 10px;
						border-right: 0px;
					}
				}
			}
			h3 {
				text-transform: capitalize;
			}
		}
	}
	.status-label {
		margin-top: 5px;
		a {
			color: inherit;
			&:hover {
				text-decoration: none;
			}
		}
		h3 {
			margin: 0px;
			font-size: 22px;
			display: inline-block;
			text-transform: uppercase;
			font-family: $font-family-vz;
		}
		i {
			margin-right: 10px;
			margin-top: -9px;
			width: 50px;
			display: inline-block;
			vertical-align: top;
			font-size: 38px;
			color: $red;
			&.icon-transact {
				font-size: 35px;
				margin-top: -7px;
			}
			&.icon-store {
				font-size: 43px;
			}
			&.icon-uplynk {
				font-size: 46px;
			}
		}
	}
	.pin-wrapper {
		margin-left: 10px;
		margin-bottom: 10px;
		float: right;
		&:last-child {
			margin-bottom: 0px;
		}
		.pin {
			background: #fff;
			border-radius: 30px;
			border: 1px solid $grey-c;
			text-transform: capitalize;
			&.no-header {
				ul {
					padding-left: 5px;
					span {
						display: none;
					}
					li {
						border-left: 0px;
					}
				}
			}
			ul {
				padding: 0px 4px 0 5px;
				margin-bottom: 0px;
				height: 30px;
				span {
					margin-right: 10px;
					font-size: 16px;
					color: $grey-9;
				}
				li {
					display: inline-block;
					border-left: 1px solid $grey-c;
					padding: 2px 10px 3px;
					font-size: 17px;
					height: inherit;
					color: $grey-9;
					&:first-child {
						border-left: 0px;
					}
					a {
						//font-size: 18px;
						color: $grey-6;
						&:hover {
							text-decoration: none;
							color: $grey-c;
						}
						i {
							vertical-align: text-top;
							display: inline-block;
							margin-top: 3px;
						}
					}
				}
			}
		}
	}
}

/* tabs section 
.tabs-wrapper {
	margin-bottom: -30px;
	background: $grey-3;
	ul.nav-tabs {
		width: 1200px;
		margin: 0px auto;
		border: medium none;
		li {
			margin-bottom: 0px;
			border-right: 1px solid rgba(255, 255, 255, 0.25);
			&:first-child {
		    margin-left: -1px;
		    border-left: 1px solid rgba(255, 255, 255, 0.25);
			}
			&.active > a, 
			&.active > a:hover, 
			&.active > a:focus { 
				background: none repeat scroll 0% 0% transparent;
   		  border: medium none; 
   		  color: $white;
   		  outline: 0;
   		}
			&.active {
				margin-left: -1px;
				margin-bottom: -7px;
				height: 100px;
				border-left: 1px solid rgba(255, 255, 255, 0.25);
				background: $red;
				span.tab-header, .icons-info > span {
					opacity: 1 !important;
				}
				.table-header-title {
					opacity: 1;
				}
			  .table-header-list {
					opacity: 0;
				}
				a:hover {
					background: none;
					outline: none;
					overflow: hidden;
					.table-header-list {
						opacity: 0;
					}
				}
			}
			a {
				margin-right: 0px;
				padding: 10px 5px;
				min-width: 86px;
				height: 63px;
				color: $white;
				border-radius: 0px;
				background: transparent;
				border: none;
				font-family: $font-family-vz;
				&:hover {
					height: 95px;
					background: $grey-3;
					margin-bottom: -7px;
					outline: 2px solid $red;
					overflow: hidden;
					margin-top: 2px;
					padding-top: 8px;
					.table-header-title, .table-header-list {
						opacity: 1;
					}
				}
				&:focus {
					outline-offset: 0px;
				}
			}
			.table-header-logo {
				text-align: center;
				width: 100%;
				> span {
					margin-top: 3px;
			    margin-right: -2px;
					font-size: 30px;
					display: block;
					text-align: center;
				}
				span.tab-header {
					font-size: 30px;
					text-transform: uppercase;
					font-family: $font-family-vz;
					opacity: 0.7;
				}
				.badge {
					padding: 4px 4px 5px 4px;
					border-radius: 100%;
					font-size: 14px;
					vertical-align: top;
					margin-top: 8px;
					margin-left: 10px;
					background: $green;
					font-weight: normal;
				}
				.icons-info {
				  span {
						margin-right: 0px;
						font-size: 18px; 
						width: auto;
						height: auto;
						border-right: 1px solid rgba(255, 255, 255, 0.24);
						padding-right: 7px;
						padding-left: 7px;
						&:first-child {
							padding-left: 0px;
						}
						&:last-child {
							border-right: none;
						}
					}
				}
			}
			.table-header-title {
			    text-align: center;
	    		margin-top: 3px;
	    		opacity: 0;
    		span {
    			text-transform: uppercase;
					font-weight: bold;
					font-size: 14px;
    		}
			}
			.table-header-list {
				height: 20px;
				opacity: 0;
				> ul {
					margin-top: 5px;
    			margin-left: 0px;
    			text-align: center;
  				> li {
  					margin-right: 2px;
  					padding: 0px;
  					border: none;
  					span {
  						font-size: 16px;
  					}
  					&:first-child {
              margin-left: 1px;
            }
  					&:last-child {
              margin-right: 0px;
            }
  				}
    		}
			}
			&.transact > .table-header-logo {
				span {
			    font-size: 35px;
  				margin-top: 13px;
				}
			}
		}
	}
}*/
/*
.tab-button {
	min-width: 1200px;
	height: 80px;
	margin-top: -50px;
	a {
		width: 60px;
		height: 60px;
		margin: 0px auto;
		display: block;
		border-radius: 100%;
		background: $black;
		opacity: 0.1;
		text-align: center;
		position: relative;
		z-index: 1;
		i {
			padding-top: 5px;
			color: $white;
			font-size: 21px;
			display: block;
		}
		@media screen and (-webkit-min-device-pixel-ratio:0) {
		 i { margin: 12px auto; }
		}
	}
	&.reverse {
			z-index: 1;
			position: relative;
			margin-top: 30px;
			margin-bottom: -50px;
			a {
				margin: -10px auto;
				i {
			    margin: -10px auto;
			    font-size: 21px;
			    color: $white;
				}
			}
	}
}
*/

/* table */
.table-wrapper {
	table.mytable {
		width: $wrapper-width;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
	}
	thead {
		tr {
			background: $grey-lt;
		 	border-bottom: 1px solid $row-border;
		 	border-top: 1px solid $row-border;
		}
		th {
			height: 45px;
			padding: 5px 22px;
			word-wrap: break-word;
	    font-size: 14px;
	    color: $grey-3;
  		text-transform: capitalize;
  		font-weight: 500;
		  border-right: 1px solid $grey-c;
 		  text-align: center;
 		  line-height: 1.2;
 		  &:first-child,
			&:last-child {
		    position: relative;
			}
			&:first-child:before {
		    right: 100%;
		    border-right: 1px solid rgba($row-border, 0.20);
			}
			&:last-child:after {
		    left: 100%;
		    border-left: 1px solid rgba($row-border, 0.20);
			}
			&:first-child:before,
			&:last-child:after {
			  content: '';
			  position: absolute;
			  top: -1px;
			  bottom: 0;
			  width: 2000px;
			  display:block;
			  background: $grey-lt;
			  margin-left: 1px;
			  margin-right: 2px;
			  border-bottom: 1px solid $row-border;
		 		border-top: 1px solid $row-border;
			}
			/* saf3+  */
			@media screen and (-webkit-min-device-pixel-ratio:0) {
			 &:first-child:before, &:last-child:after { 
			 	bottom: -1px;
			 	margin-right: 1px;
			 }
			}
 		  &:first-child {
		  	padding: 5px 10px;
	    	margin-right: 1px;
	    	text-transform: inherit;
	    	border-left: 1px solid #CCC;
				.popover {
					margin-top: 0px;
					width: 243px;
					max-width: 245px;
					top: 20px !important;
					background: $grey-c;
					border-color: $grey-c;
					text-transform: capitalize;
					 > .arrow {
						margin-top: -11px;
						border-top-width: 0px;
						top: 10px !important;
						border-right-color: $grey-c;
					}
					.popover-content {
						color: $grey-3;
						display: block;
					}
				}
			}
      > a.info-POP {
				margin-left: 5px;
				margin-right: 5px;
				padding: 1px 4px 0px;
				color: $grey-c;
				float: right;
				display: inline-block;
				span {
					margin-top: 0px;
					font-size: 17px;
					vertical-align: middle;
					display: inline-block;
				}
			}
		}
	}
  tbody {
		tr:nth-child(odd) > td:first-child {
			.tooltip-arrow { margin-top: -18px; }
		}
		tr:nth-child(even) > td:first-child {
			.tooltip-arrow { margin-top: -18px; }
		}
		tr {
			background: $row-light;
			border-top: 1px solid $row-border;
			border-bottom: 1px solid $row-border;
			&:nth-child(even) {
			 background-color: $row-dark;
			 border-top: 1px solid $row-border;
			 border-bottom: 1px solid $row-border;
			}
			&:nth-child(even) > td:first-child:before,
			&:nth-child(even) > td:last-child:after {
		    background-color: $row-dark;
		    border-top: 1px solid $row-border;
			  border-bottom: 1px solid $row-border;
		  	margin-top: -1px;
			}
			/* saf3+  */
			@media screen and (-webkit-min-device-pixel-ratio:0) {
			 &:nth-child(even) > td:first-child:before,
				&:nth-child(even) > td:last-child:after {
			    bottom: -1px;
				}
			}
			button {
				border: 0px;
				background: transparent;
			}
			td {
			  padding: 7px 10px 5px;
			  border-right: 1px solid $row-border;
			  text-align: center;
			  position: relative;
			  &:first-child,
				&:last-child {
			    position: relative;
				}
				&:first-child:before,
			  &:last-child:after {
			    content: '';
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    width: 2000px;
			    display:block;
			    border-right: 1px solid $row-border;
			    background: $row-light;
			    margin-left: 1px;
			 	}
		 		&:first-child:before {
			    right: 100%;
				}

				&:last-child:after {
			    left: 100%;
				}
				/* saf3+  */
				@media screen and (-webkit-min-device-pixel-ratio:0) {
				 &:first-child:before, &:last-child:after  {
				    margin-right:-1px;
						top:0px;
						bottom:-1px;
					}
				}
			  &:first-child {
			  	//max-width: 315px;
			  	text-align: left;
			  	a {
			  		//color: $grey-3;
			  		cursor: text;
			  		text-transform: capitalize;
			  		font-size: 14px;
			  		&:hover {
			  			text-decoration: none;
			  		}
			  		label {
			  			font-weight: 500;
			  			cursor: text;
			  			text-transform: uppercase;
			  		}
			  	}
			  	span {
				    	color: $grey-9;
							font-size: 14px;
							float: right;
							text-transform: capitalize;
							font-style: italic;
				    }
			  }
			  a {
					font-size: 22px;
					cursor: text;
					&:hover {
						text-decoration: none;
					}
			  }
			}
			&:last-child {
				//border-top: 1px solid $row-border;
				//border-bottom: 1px solid $row-border;
				td {
					&:first-child::before, &:last-child::after {
						border-bottom: 1px solid $row-border;
					}
				}
			}
		}
	}
}

/*table header section */
.table-section {
	.table-header {
		font-family: $font-family-vz;
		.table-header-inner {
			width: $wrapper-width;
			margin: 0px auto;
			padding: 20px 10px 5px;
			color: $grey-3;
		}
		h2, h3 {
			text-transform: uppercase;
		}
		h2 {
			margin-bottom: 20px;
		}
		i {
			margin-right: 15px;
			font-size: 45px;
			color: $grey-c;
			vertical-align: bottom;
		}
	}
	&.panel-table-list {
		thead th:first-child {
	    width: 23%;
	    text-align: left;
		}
		tbody {
			tr {
				td:first-child a {
					color: $grey-3;
				}
			}
		}
	}
	&.panel-table-header {
		thead {
			th:first-child {
				text-align: center;
				width: auto;
			}
		}
		tbody {
			tr {
				> td:first-child {
					text-align: center;
					> a {
						font-size: 22px;
						//color: inherit;
						//cursor: pointer;
					}
				}
			}
		}
	}
	
	.panel {
		border: none;
		position: relative;
		
		
	}
}

/*header status menu */
.network-news {
	//margin-top: 50px;
	min-width: $wrapper-width;
	min-height: 40px; 
	z-index: 2;
	position: relative;
	overflow: hidden;
	font-family: $font-family-vz;
	&.well {
		margin-bottom: 0px;
		padding: 20px 0 20px;
		background: $grey-network-news;
		border-radius: 0px;
		border: 1px solid $grey-network-news;
	}
	.wrapper {
		width: $wrapper-width;
		margin: 0px auto;
		.row { 
			min-height: 82px; 
			padding: 0; 
			border-bottom: 1px solid rgba(255, 255, 255, 0.05); 
			&:last-child { border: none; }
		}
	}
	.status-label-toggle {
		font-size: 12px;
		color: $grey-9;
		text-transform: uppercase;
		text-decoration: none;
		&:hover { 
			cursor: pointer;
			color: $white;
			text-decoration: none;
		}
	}
	span, p { color: $white; }
	span {
		font-size:18px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.network-news-info {
		margin-top: 0px;
		padding: 10px 0 0;
		height: 141px;
		hr { 
			opacity: .2; 
			margin-top: 0px;
			margin-bottom: 10px;
			&.dashed { 
				opacity: .2; 
				margin-top: 0px;
				margin-bottom: 10px;
				border-style: dashed none none;
			}
		}
	}
	p {
		margin-bottom: 5px;
		padding-right: 160px;
		font-family: $font-family-base;
		font-size: 14px;
		color: $white;
		&.time-notice { color: $grey-c; }
		strong { font-size: 18px; }
	}
	i { 
		font-size: 45px; 
		font-size: 45px;
		vertical-align: bottom;
		margin-right: 8px;
	}
}

.store, 
.accelerate, 
.defend, 
.transact, 
.route {
	.table-wrapper {
		table {
			thead {
		    tr {
		    	th {
				    width: 180px;
				    max-width: 180px;
				    &:first-child {
				    	min-width: 300px;
					    width: 300px;
					    max-width: 300px;
						}
						&:last-child {
				    	min-width: 100%;
					    width: 100%;
					    max-width: 100%;
						}
		    	}
					/* saf3+  */
					@media screen and (-webkit-min-device-pixel-ratio:0) {
				  	th:first-child {
				    	min-width: 299px;
					    width: 299px;
					    max-width: 299px;
						}
					}
		    }
		  }
		}
	}
}

/* tooltip css */
.tooltip.right {
	margin-top: 10px;
	margin-left: 0px;
	 > .tooltip-inner {
		padding: 10px 8px;
		background: $grey-3;
		border-radius: 0px;
		box-shadow: 1px 1px 5px rgba(2, 1, 1, 0.52);
	}
  .tooltip-arrow {
	  top: 50%;
		left: -5px;
		margin-top: -18px;
		border-right: 15px solid $grey-3;
		border-width: 0px 15px 15px 0px;
	}
}

/* popover css */
.popover {
	min-width: 145px;
	max-width: 205px;
	background: $orange-dark;
	border-radius: 0px;
	border: 1px solid $orange-dark;
	top: 10px !important;
	box-shadow: none;
	.popover-title {
		padding: 11px 14px 4px;
		color: $white;
		background: none;
		border: none;
		text-align: center;
		> div {
			> div {
				margin: 0 0 10px 0;
				line-height: 1.3;
				font-weight: bold;
			}
		}
	}
	.popover-content {
		color: $white;
		display: none;
	}
	&.right {
    margin-top: 7%;
		> .arrow {
			border-right-color: $orange-dark;
			margin-top: 0px;
			top: -1px !important;
			border-top-width: 0px;
			&:after {
				border-right-color: transparent;
			}
		}
	}
	&.left {
    margin-top: 0%;
		> .arrow {
			border-left-color: $orange-dark;
			margin-top: 0px;
			top: -1px !important;
			border-top-width: 0px;
			&:after {
				border-left-color: transparent;
			}
		}
	}
}

.icon-close-circle ~ .popover {
	background: $red;
	border: 1px solid $red;
	&.right {
		> .arrow {
			border-right-color: $red;
		}
	}
	&.left {
		> .arrow {
			border-left-color: $red;
		}
	}
}
.icon-check-circle-open ~ .popover {
	background: $green;
	border: 1px solid $green;
	&.right {
		> .arrow {
			border-right-color: $green;
		}
	}
	&.left {
		> .arrow {
			border-left-color: $green;
		}
	}
}
.icon-warning ~ .popover {
	background: $orange-dark;
	border: 1px solid $orange-dark;
	&.right {
		> .arrow {
			border-right-color: $orange-dark;
		}
	}
	&.left {
		margin-left: -15px;
		> .arrow {
			border-left-color: $orange-dark;
		}
	}
}
.icon-clock ~ .popover {
	background: $blue;
	border: 1px solid $blue;
	&.right {
		> .arrow {
			border-right-color: $blue;
		}
	}
	&.left {
		margin-left: -12px;
		> .arrow {
			border-left-color: $blue;
		}
	}
}
.icon-disable ~ .popover {
	background: $grey-c;
	border: 1px solid $grey-c;
	&.right {
		> .arrow {
			border-right-color: $grey-c;
		}
	}
	&.left {
		> .arrow {
			border-left-color: $grey-c;
		}
	}
}

footer {
	background: $grey-footer;
	.well {
		margin-bottom: 0px;
		border: none;
		border-radius: 0px;
		background: transparent;
		height: 135px;
		margin: 0 auto;
		width: $wrapper-width;
	}
	.footer-logo {
		margin-top: 10px;
		.vz-logo-wh {
	    width: 174px;
	    height: 38px;
	    display: inline-block;
	    background: url("../assets/Images/logo-vdms-wh.png") no-repeat scroll 0% 0% transparent;
		}
		.copy-right {
			margin-top: -8px;
			color: $grey-c;
			font-size: 11px;
			font-family: $font-family-vz;
			vertical-align: middle;
			display: inline-block;
			span {
				margin-left: 20px;
				font-size: 12px;
				font-family: $font-family-base;
				font-weight: normal;
			}
		}
	}
}

